url = "xuong-sang-tao/phuong-phap"
layout = "default"
title = "Xưởng sáng tạo - Phương pháp"

[HomeBanner]
max = 10
addDefault = 0
[HomeCreative]
title = ''
description='Khóa học nổi bật'
[HomeRegistration]
==
<?
function onStart()
{ 
    $phuongphap = \Unik\Bloc\Models\XSTPhuongphap::get()->sortByDesc('sort_order');
    $this['phuongphap'] = $phuongphap;  
}
?>
==
{% put styles %}
    <link href="{{ 'assets/css/layouts/page/xuong-sang-tao/phuong-phap.css'|theme }}" rel="stylesheet" />
{% endput %}
{% component 'HomeBanner' %}
<div class="XST_PP-Page Page">
    <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{'xuong-sang-tao/gioi-thieu'|page}}">Xưởng Sáng Tạo</a></li>
            <li class="breadcrumb-item active" aria-current="page">Phương Pháp</li>
          </ol>
        </nav>
        <div class="tab-view">
            <!-- Tabs navs -->
            <ul class="nav nav-tabs mb-3 justify-content-center align-items-center" id="pp-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link active"
                  id="pp-tab-1"
                  data-mdb-toggle="tab"
                  href="#pp-tabs-1"
                  role="tab"
                  aria-controls="pp-tabs-1"
                  aria-selected="true"
                  >Cách tiếp cận</a
                >
              </li>
              <li class="nav-item" role="presentation" style="display:none;">
                <a
                  class="nav-link "
                  id="pp-tab-2"
                  data-mdb-toggle="tab"
                  href="#pp-tabs-2"
                  role="tab"
                  aria-controls="pp-tabs-2"
                  aria-selected="false"
                  >Hình thức triển khai</a
                >
              </li>
            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content" id="pp-content">
              <div
                class="tab-pane fade show active"
                id="pp-tabs-1"
                role="tabpanel"
                aria-labelledby="pp-tab-1"
              >
                {% if phuongphap|length >0 %}
                  {% for key, record in phuongphap %}
                    {% if key%2 == 0 %}
                      {% partial "pages/phuong-phap/cach-tiep-can-left.htm" record=record%}
                    {% else %}
                      {% partial "pages/phuong-phap/cach-tiep-can-right.htm" record=record%}
                    {% endif %}
                  {% endfor %} 
                {% endif %}
              </div>
              <div class="tab-pane fade" id="pp-tabs-2" role="tabpanel" aria-labelledby="pp-tab-2">
                {% partial "pages/phuong-phap/hinh-thuc-trien-khai-tab.htm" %}
              </div>
            </div>
            <!-- Tabs content -->
        </div>
    </div>
</div>
{% component 'HomeCreative' %}
{% component 'HomeRegistration' %}