[staticMenu]
code = "main"
==
<!-- Nav -->
<nav class="autohide navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container justify-content-between">
    <a class="navbar-brand" href="{{ 'home'|page }}">
        <img
          src="{{ 'assets/images/logo.png'|theme }}"
          height="50"
          alt=""
          loading="lazy"
          style="margin-top: 2px;"
        />
    </a>
    <div class="d-flex align-items-center">
      <div class="hide-pc">
          <a class="nav-link" href="https://handson.edu.vn/quy-khuyen-hoc/phuong-phap-tuyen-sinh#dong-gop">
            <button class="handson-btn">Tham gia cùng chúng tôi</button>
          </a>      
      </div>        
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="d-flex align-items-center justify-content-center navbar-toggler-icon">
          <i class="fas fa-bars"></i>
        </span>
      </button> 
    </div>   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="justify-content-between d-flex align-items-center full-width">
        {% component 'staticMenu' %}
        <div class="d-flex align-items-center hide-mobile">
            <a class="nav-link" href="https://handson.edu.vn/quy-khuyen-hoc/phuong-phap-tuyen-sinh#dong-gop">
              <button class="handson-btn">Tham gia cùng chúng tôi</button>
            </a>      
        </div>
      </div>       
    </div>
  </div>
</nav>
