{% if(records.lastPage > 1) %}
  {# Maximum number of page #}
  {% set size = records.perPage %}
  {% set currentPage = records.currentPage  %}

  {% set offset = (size / 2)|round(0, 'ceil') %}
  {% if(currentPage >= size) %}
    {% if(currentPage == records.lastPage and currentPage == size) %}
      {% set start = 1 %}
      {% set end = size %}
    {% else %}

      {% set start = currentPage - offset %}
      {% set end = ((currentPage + offset) < records.lastPage) ? currentPage + offset : records.lastPage %}
    {% endif %}
  {% else %}  
    {% set start = 1 %}
    {% set end = records.lastPage < size ? records.lastPage : size %}
  {% endif %}
{% endif %}

{% if(records.lastPage > 1) %}
  <ul class="pagination">    
    {% if(start > 1) %}
      <li class="page-item"><a title="1" class="navig page-link" data-page="1">1</a></li>
      {% if(start - offset >= 0) %}
        <li><a title="..." class="disabled">...</a></li>
      {% endif %}
    {% endif %}
    {% for i in range(start, end) %}
      <li class="page-item {{ i == currentPage ? ' active' : '' }}">
        <a class="navig page-link" title="{{i}}" data-page="{{i}}" href="{{ ''|page }}">{{i}}</a>
      </li>
    {% endfor %}
    {% if(end != records.lastPage) %}
      {% if(end >= size and end < records.lastPage - 1) %}  
        <li><a title="..." class="disabled">...</a></li>
      {% endif %}
      <li class="page-item"><a href="{{ ''|page({ page: records.lastPage }) }}" title="{{records.lastPage}}" class="page-link navig {{records.lastPage == currentPage ? ' active' : ''}}" data-page="{{records.lastPage}}">{{records.lastPage}}</a></li>
    {% endif %}
  </ul>
{% endif %}