<div class="httk-tab-view">
  <!-- Tabs navs -->
  <ul class="nav nav-tabs mb-3 justify-content-between align-items-center" id="httk" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link d-flex justify-content-center align-items-center active"
        id="httk-tab-1"
        data-mdb-toggle="tab"
        href="#httk-tabs-1"
        role="tab"
        aria-controls="httk-tabs-1"
        aria-selected="true"
        >01</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link d-flex justify-content-center align-items-center"
        id="httk-tab-2"
        data-mdb-toggle="tab"
        href="#httk-tabs-2"
        role="tab"
        aria-controls="httk-tabs-2"
        aria-selected="false"
        >02</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link d-flex justify-content-center align-items-center"
        id="httk-tab-3"
        data-mdb-toggle="tab"
        href="#httk-tabs-3"
        role="tab"
        aria-controls="httk-tabs-3"
        aria-selected="false"
        >03</a
      >
    </li>
  </ul>
  <!-- Tabs navs -->

  <!-- Tabs content -->
  <div class="tab-content" id="httk-content">
    <div
      class="tab-pane fade show active"
      id="httk-tabs-1"
      role="tabpanel"
      aria-labelledby="httk-tab-1"
    >
    <div class="row">
      <div class="col-md-4">
        <div class="httk-tab-item-view">
          {% partial "pages/phuong-phap/hinh-thuc-trien-khai-tab-item.htm" desc="Đoạn 1: Từ khi bước vào không gian Xưởng Hands – On, gia  đình đả được trải nghiệm cảm giác “Chơi”, “Vui vẻ”. <strong>Không gian Hands-On cũng chính là tác nhân giáo dục thúc đẩy sự tò mò, khám phá, vui chơi.</strong>"%}
        </div>
      </div>
    </div>
    </div>
    <div class="tab-pane fade" id="httk-tabs-2" role="tabpanel" aria-labelledby="httk-tab-2">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="httk-tab-item-view">
            {% partial "pages/phuong-phap/hinh-thuc-trien-khai-tab-item.htm" desc="Đoạn 2: Trẻ được hướng dẫn <strong>để tự làm</strong> nên sản phẩm cho chính mình. Bên cạnh đó là các <strong>hoạt động tương tác:</strong> kể chuyện đầu giờ, trò chơi với đồng dao, đúc kết/ giao “bài tập” khi về nhà"%}
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="httk-tabs-3" role="tabpanel" aria-labelledby="httk-tab-3">
      <div class="row">
        <div class="col-md-4">
        </div>        
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="httk-tab-item-view">
            {% partial "pages/phuong-phap/hinh-thuc-trien-khai-tab-item.htm" desc="Đoạn 3: Hand – On gợi ý những cách <strong>gia đình có thể tiếp tục khai thác nội dung workshop</strong> thành những câu chuyện kể, cuộc đối thoại, buổi xem phim, sách để đọc, vv."%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Tabs content -->
</div>
